/* ~= : 여러 속성값 중 하나라도 일치하면 선택(포함) */
div[name=aaa]{
    background-color: gold;
}
div[name ~= 'aaa']{
    color: deepskyblue;
}

/* | : "-"(하이픈)  기호 앞쪽 문자열이 일치하면 선택 */
div[name |= 'str']{
    font-size: 20px;
}

/* ^(캐럿) : 특정 단어로 시작하면 선택 */
div[class ^= 'class']{
    border: 4px solid firebrick;
}

/* $ : 특정 단어로 끝나면 선택 */
div[class $= '2']{
    font-weight: bold;
}

/* * : 특정 값을 포함하면 선택 */
div[name *= '2']{
    font-style: italic;
}