*{
    box-sizing: border-box;
    margin: 0; /* 다른 요소와의 간격 */
    padding: 0; /* content, border 사이 간격 */
}

div{
    border: 1px solid black;
}

h1, h3{
    margin: 10px 0; /* 상하 / 좌우 */
    text-decoration: underline;
}

/* 상하 2분할 */
.container-1{
    width: 500px;
    height: 600px;
    margin: 20px;
}
.container-1 > div{
    width: 100%;
    height: 50%;
}

.container-1 > div:first-child{
    background-color: aquamarine;
}
.container-1 > div:last-child{
    background-color: sandybrown;
}

/* 
    div -> display : block
    == 한 행을 모두 차지
    == width : 100%가 기본 값
*/
.container-2{
    width: 300px;
    height: 432px;
    margin: 20px;
}
.container-2 > div{
    width: 100%;
}
.container-2 > div:first-child{
    height: 50%;
    background-color: bisque;
}
.container-2 > div:nth-child(2){
    height: 30%;
    background-color: aqua;
}
.container-2 > div:last-child{
    height: 20%;
    background-color: silver;
}

/* 칸 좌우로 나누기 */
.container-3{
    width: 400px;
    height: 200px;
    margin: 20px;
    /* 내부(item)을 유연하게 배치, 정렬하겠다고 지정하는 속성 */
    display: flex;
    /* 중심축 방향을 row(왼쪽에서 오른쪽) */
    flex-direction: row;
}
.container-3 > div{
    height: 100%;
    /* display: inline-block; */
    /* inline, inline-block == 글자로 취급 */
    /* -> 띄어쓰기, 엔터가 중간에 포함되어 요서가 원하는대로 배치되지 않을 수 있다 */
}
.container-3 > div:first-child{
    width: 50%;
    background-color: teal;
}
.container-3 > div:last-child{
    width: 50%;
    background-color: olive;
}

.container-4{
    width: 600px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: row; /* 기본 값이라서 안써도 무방 */
}
.container-4 > div{
    height: 100%; /* == align: strech; */
}
.container-4 > div:nth-child(2n+1){
    width: 10%;
    background-color: indigo;
}
.container-4 > div:nth-child(2n){
    width: 35%;
    background-color: palegreen;
}

.container-5{
    width: 500px;
    height: 500px;
    margin: 20px;
}
.container-5 > .row{
    /* width: 100%; */
    height: 50%;

    /* 내부 요소(item) 가로 배치 */
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */ /* item이 교차 축 방향을 꽉 채우도록 늘어남 */
}
.container-5 .col{
    width: 50%;
    /* height: 100%; */
}